body {
  display: flex; /* sets up flexbox */
  flex-direction: column; /* sets main axis to run vertically, items are laid out top to bottom */
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}

#myH1 {
  font-size: 4rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: hsl(0, 0%, 25%);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
}

#display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}

#controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

#startBtn {
  background-color: hsl(120, 100%, 25%);
}
#startBtn:hover {
  background-color: hsl(120, 100%, 15%);
}

#stopBtn {
  background-color: hsl(0, 100%, 50%);
}
#stopBtn:hover {
  background-color: hsl(0, 100%, 40%);
}

#resetBtn {
  background-color: hsl(240, 82%, 50%);
}
#resetBtn:hover {
  background-color: hsl(240, 82%, 30%);
}
